<section class="footer__section">
    <div class="footer__widget">
        <h1 class="widget__title">WakawakaCar</h1>
        <ul class="contact__menu">
            <li>  <fa-icon [icon]="faphone"  primaryOpacity="0.2" class="icon__color"></fa-icon>
                XXXXXXXX</li>
            <li>
                <fa-icon [icon]="faemail" class="icon__color"></fa-icon>
                +33 08 09 77 65 44
            </li>
            <li>
                <fa-icon [icon]="falocate" class="icon__color"></fa-icon>
                +33 08 09 77 65 44
            </li>
        </ul>

    </div>
    <div class="footer__widget">
        <h1 class="widget__title">Navigation</h1>
        <ul class="footer__menu">
            <li><a>Accueil</a></li>
            <li><a>A propos</a></li>
            <li><a>Trouver un trajet</a></li>
            <li><a>Comment ça marche?</a></li>
            <li><a>Comment ça marche?</a></li>
        </ul>
    </div>
    <div class="footer__widget">
        <h1 class="widget__title">Proposer un trajet</h1>
        <ul class="footer__menu">
            <li><a>Accueil</a></li>
            <li><a>A propos</a></li>
            <li><a>Trouver un trajet</a></li>
            <li><a>Comment ça marche?</a></li>
            <li><a>Comment ça marche?</a></li>
        </ul>
    </div>
    <div class="footer__widget">
        <h1 class="widget__title">Newsletter</h1>
        <div>
            <p class="newsletter__text">
                en cliquant sur nous, vous vous abonnez automatiquement à notre newsletter.
            </p>
            <form class="newsletter__form">
                <input type="text" name="email" placeholder="email">
                <button class="newsletter__button">Nous suivre ?</button>
            </form>
        </div>
    </div>
</section>

<section class="footer__copyright">
    <div> Copyright 2021</div>
    <div></div>
</section>
