<section class="footer__section">
    <div class="footer__widget">
        <h1 class="widget__title">WakawakaCar</h1>

    </div>
    <div class="footer__widget">
        <h1 class="widget__title">Navigation</h1>
        <ul class="footer__menu">
            <li>Accueil</li>
            <li>A propos</li>
            <li>Trouver un trajet</li>
            <li>Comment ça marche?</li>
            <li>Comment ça marche?</li>
        </ul>
    </div>
    <div class="footer__widget">
        <h1 class="widget__title">Proposer un trajet</h1>
        <ul class="footer__menu">
            <li>Accueil</li>
            <li>A propos</li>
            <li>Trouver un trajet</li>
            <li>Comment ça marche?</li>
            <li>Comment ça marche?</li>
        </ul>
    </div>
    <div class="footer__widget">
        <h1 class="widget__title">Newsletter</h1>
        <div>
            <p class="newsletter__text">
                en cliquant sur nous, vous vous abonnez automatiquement à notre newsletter.
            </p>
            <form class="newsletter__form">
                <input type="text" name="email" placeholder="email">
                <button class="newsletter__button">Nous suivre ?</button>
            </form>
        </div>
    </div>
</section>

<section class="footer__copyright">
    <div> Copyright 2021</div>
    <div></div>
</section>
