.footer__section{
    background: #323f58;
    width: 100%;
    height: 400px;
    display: flex;
    padding: 60px 5% 0px 5%;
}

.footer__widget{
    width: 30%;

}

.widget__title{
    color:#fff;
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.71);
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding-bottom: 25px;
}

.footer__menu li {
    color:#fff;
    list-style: none;
    list-style-image: url("../../assets/list.png");
    padding-top: 11px;
    font-size: 13px;
    font-weight: lighter;
}

.newsletter__text{
    color:#fff;
    width:70%;
}

.newsletter__form input{
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0px;
}

.newsletter__button{
    height: 41px;
    border: 0px solid #24324f;
    cursor: pointer;
    border-radius: 20px;
    background: #ff9e67;
    color:#fff;
  &:hover{
    color:#fff;
    background-color:#33b54a;
  }
}

.footer__menu li a:hover{
    color:#ff9e67;
    cursor: pointer;
}

.footer__copyright{
    height: 30px;
    text-align: center;
    padding: 27px 0px 10px 0px;
}

.contact__menu{
    color:#fff;
}

.contact__menu li {
    list-style: none;
    padding-top: 11px;
    font-size: 13px;
    font-weight: lighter;
}

.icon__color{
    color:#33b54a;
}

form{

  border: 7px solid #fff;
  width: 232px;
  background: #fff;
  border-radius: 23px;
  input:focus{
    outline: none;
  }

}
