.section__layout{
    padding:70px 0px 70px 0px;
    display: flex;
    margin-top: 70px;
    color:#fff;
    background-color: #323f58;
}

.section__layout h4{
    font-size: 21px;
}

.section__layout p{
    width: 682px;
    text-align: justify;
}


.section__layout h4, p{
    padding-left: 114px;
}

.first__block{
    width: 70%;
}

.phone__download{
    width: 30%;
}

.download__layout{ 
    margin-left: 114px;
    width: 355px;
    color: #fff;
    background: #ff9e67;
    border:0px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top:40px;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color:#000;
    }
}

.img__p{
    width: 399px;
    position: relative;
    left: -110px;
}

.bus__image{
    width: 606px;
    height: 336px;
}


.bus__section{
    display: flex;
    padding: 50px 50px 50px 100px;
}

h5{
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color:#566985;
    margin-bottom: 25px;
    position: relative;
    z-index:1000;
}

hr{
    border: 1px dotted;
}

.bus__text{
    padding-left: 30px;
    padding-top: 30px;
    text-align: justify;
    margin-top: 76px;
    width: 100%;
}

.book__button{
    color:#fff;
    border-radius: 92px;
    background-color:#36b34b;
    border: 0px;
    font-size: 16px;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-left: 31px;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        background-color: #fe9e69;
    }
    
}

.icon__size{
    width:15px;
}













.st1{display:inline;fill:#3ABC98;}
.st2{opacity:0.32;fill:#727171;}
.st3{fill:#898989;}
.st4{fill:#FFFFFF;}
.st5{fill:#C9CACA;}
.st6{fill:#ff9e67;}
.st7{fill:#F9F8DE;}
.st8{fill:#323f58;}
.st9{fill:#323f58;stroke:#323f58;stroke-width:2;stroke-miterlimit:10;}
.st10{fill:none;stroke:#DEDCC9;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#BDE6E3;}
.st12{fill:#323f58;}
.st13{fill:none;stroke:#595757;stroke-width:3;stroke-miterlimit:10;}
.st14{fill:none;stroke:#323f58;stroke-miterlimit:10;}
.st15{fill:#DEDCC9;stroke:#DEDCC9;stroke-width:2;stroke-miterlimit:10;}
.st16{fill:#000000;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}

body {
  background-color: #3ABC98;
}

#wrapper {
    position: relative;
    width: 720px;
    height: 300px;
    top: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index:1;
}

#car-body {
    position: absolute;
    width: 100%;
    bottom: 30px;
    animation: carbody 1s linear infinite;
    -webkit-animation: carbody 1s linear infinite;
}

#wheel {
    .wheel {
        position: absolute;
        width: 100%;
        bottom: 30px;
    }
    .wheel-back {
        z-index: -1;
    }
}

#smoke {
    width: 10px;
    position: absolute;
    right: 30px;
    top: 150px;
    animation: smoke 1.2s linear infinite;
    -webkit-animation: smoke 1s linear infinite;
}

#shadow {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: -2;
}
/***** Animation *****/

@keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}
@-webkit-keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}

@keyframes smoke {
    from {
        right: 30px;
    }
    to {
        right: -80px;
        transform: scale(5);
        opacity: .2;
    }
}
@-webkit-keyframes smoke {
    from {
        right: 30px;
    }
    to {
        right: -80px;
        transform: scale(5);
        opacity: .2;
    }
}
