.section__layout{
    padding:70px 0px 70px 0px;
    display: flex;
    margin-top: 70px;
    color:#fff;
    background-color: #323f58;
}

.section__layout h4{
    font-size: 21px;
}

.section__layout p{
    width: 682px;
    text-align: justify;
}


.section__layout h4, p{
    padding-left: 114px;
}

.first__block{
    width: 70%;
}

.phone__download{
    width: 30%;
}

.download__layout{ 
    margin-left: 114px;
    width: 355px;
    color: #fff;
    background: #ff9e67;
    border:0px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top:40px;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color:#000;
    }
}

.img__p{
    width: 399px;
    position: relative;
    left: -110px;
}

.bus__image{
    width: 606px;
    height: 336px;
}


.bus__section{
    display: flex;
    padding: 50px 50px 50px 100px;
}

h5{
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color:#566985;
    margin-bottom: 25px;
}

hr{
    border: 1px dotted;
}

.bus__text{
    padding-left: 30px;
    padding-top: 30px;
    text-align: justify;
}

.book__button{
    color:#fff;
    background-color:#36b34b;
	border-radius:2px;
    border: 0px;
    font-size: 16px;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-left: 31px;
    font-weight: 500;
    cursor: pointer;
    
}

.icon__size{
    width:15px;
}