<section class="section__layout">
<div class="first__block">
    <img src="../../assets/wakawaka.PNG"/>
    <h4>WAKAWAKACAR SUR TABLETTE ET MOBILE</h4>
    <p>
        Grâce à sa conception en Responsive Design, Trouvez Facilement des covoiturages sur notre Apps depuis votre ordinateur, votre tablette ou votre mobile. Le site fonctionne quelle que soit la marque de votre appareil et son système d’exploitation. 
    </p>
    <button class="download__layout">télécharger l'application mobile</button>
</div>
<div class="phone__download">
    <img src="../../assets/phone.png" class="img__p"/>
</div>
</section>

<section class="bus__section">
    <div>
        <hr>
        <img src="../../assets/wakawakabus.jpg" class="bus__image"/>
    </div>
    <div>
        <h5>Spécial wakawakabus BRUXELLES-PARIS -BRUXELLES</h5>
        <hr>
        <p class="bus__text">
            Voyagez l’esprit léger mais les valises pleines si ça vous chante ! En prenant le bus, c’est la garantie d’avoir au moins des bagages.
            <br>DEPART BRUXELLES     (hotel ibis rue d angleterre 1 saint gille )
            <br>DEPART PARIS .  ( total porte de la chapelle rue de la chapelle 82 paris 18eme)
        </p>
        <button class="book__button">Reservez Maintenant!
            <fa-icon [icon]="facalendar"  primaryOpacity="0.2" class="icon__size"></fa-icon>
        </button>
    </div>
    <div>
        <hr>
    </div>
</section>

