<section class="section__layout">
<div class="first__block">
    <img src="../../assets/wakawaka.PNG">
    <h4>WAKAWAKACAR SUR TABLETTE ET MOBILE</h4>
    <p>
        Grâce à sa conception en Responsive Design, Trouvez Facilement des covoiturages sur notre Apps depuis votre ordinateur, votre tablette ou votre mobile. Le site fonctionne quelle que soit la marque de votre appareil et son système d’exploitation. 
    </p>
    <button class="download__layout">télécharger l'application mobile</button>
</div>
<div class="phone__download">
    ssssssssssssssssssssssssss
    ssssssssssssssssss
</div>

</section>