<app-navbar></app-navbar>
<!-- page section header -->
<div class="header__layout">
    <div class="container">
        <div class="page__title">
            <h1>Bienvenu sur wakawakacar</h1>
            <ul>
                <li>Accueil</li>
                <li>Bienvenue sur wakawkacar</li>
            </ul>
        </div>
    </div>
</div>
<!-- End page section Header -->
<!-- page title-->
<div class="title__container">
    <div>
        <h1>Profitez des avantages du covoiturage!</h1>
        <hr>
        <p>Nous offrons un ensemble de possibilité variées , et un processus facile à prendre en main</p>
    </div>
</div>




<app-footer></app-footer>
