.add_trajet{
  margin-top: 3px;
  width: 20%;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  span{
    font-size: 14px;
    padding-left: 2px;
  }
}
.submit__trip{
    background-color:#24324f;
    border:0px;
    border-radius:50%;
    color:#fff;
	padding:9px 11px;
	border-radius: 30px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 11px;

  &:hover{
    cursor: pointer;
    color: #fff;
    background-color: #36b34b;
  }


}

.nav__bar{
	width: 100%;
	display: flex;
	padding: 22px 0px 10px 54px;
	background-color: #ffffff;
	color: #000000;
	width: 100%;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
  border: 1px solid transparent;
}
.site__logo{width:30%;}
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      cursor: pointer;
    }

  }

  *|*:link, span{
    color: #24324f;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 25px;
    letter-spacing: 0px
  }

  .active{
    color: red;
  }


  .avatar__login{
    margin-left: -95px;

    ul{
      position: absolute;
      list-style: none;
      padding: 0;
      margin: -7px 0px 0px 0px;
      z-index: 1000;
      background: #fff;


      li{
        background-color: #fff;
        width: 200px;
        cursor: pointer;
        font-size: 16px;


        &:hover{
          transition: width 5s;
          transition-timing-function: linear;
          ul{
            display: block;
            margin-top:2px;
            padding: 0px 4px 10px 4px;
            z-index: 1000;
            border: 1px solid transparent;
            border: 1px solid transparent;
             box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
          li{
            span{
              font-size: 14px;
              width: 60%;
            }
            &:hover{
              background-color: #ebebeb;
            }

            .icon__Right{
              position: relative;
             width: 20%;
             text-align: right;
             color: #24324f;
            }
            .icon__left{
              position: relative;
             width: 20%;
             text-align: left;
             color:#323f58;
            }
          }
          }
        }

        img{
          border-radius: 50%;
        }
        ul{
          display: none;
          margin-left: -163px;
          padding: 2px ;
          position: relative;
          top: 30px;
          li{
            padding:10px 3px 3px 7px;
            width: 96%;
            font-size: 26px;
            font-weight: lighter;
          }

        }



      }
    }
  }

  .submenu{
    display: flex;
  }

  .notConnected{
    display: flex;
  }
  .notlogin{
    width: 50%;
  }
  .notconnect__icon{
    @extend .notlogin;
    text-align: right;
  }

  .logo{
    width: 17%;
  }
