<div class="nav__bar">
    <div class="site__logo"><img class="logo" src="../../assets/logo.jpg"></div>
    <nav>
        <ul>
            <li><a routerLink="/index" routerLinkActive="active">Accueil
            </a></li>
            <li><a routerLink="/about" routerLinkActive="active">A propos</a></li>
            <li><a routerLink="/trip">Trouver un trajet</a></li>
            <li><a routerLink="/index">Comment ça marche ?</a></li>
        </ul>
    </nav>
    <div class="add_trajet" routerLink="/newTrip"><button class="submit__trip"><strong>+</strong></button><span>Proposer un trajet</span></div>

    <div class="avatar__login">
    <ul>
        <li><img src="../../assets/profil.svg"/>
            <ul *ngIf="authentification.isLogged">
                <li class="notConnected">
                    <span class="notlogin">connexion</span>
                    <span class="notconnect__icon">
                        <fa-icon [icon]= faangle primaryOpacity="1" class="notlogin"></fa-icon>
                    </span>
                </li>
                <li class="notConnected">
                    <span class="notlogin">Inscription</span>
                    <span class="notconnect__icon">
                        <fa-icon [icon]= faangle primaryOpacity="1" class="notconnect__icon"></fa-icon>
                     </span>
                </li>
            </ul>

            <ul *ngIf="!authentification.isLogged">

                <li *ngFor="let menu of loginMenu" class="submenu" [routerLink]="menu.urlRoute">

                    <fa-icon [icon]= menu.iconleft primaryOpacity="1" class="icon__left"></fa-icon>
                    <span>{{ menu.title}}</span>
                    <fa-icon [icon]= faangle primaryOpacity="1" class="icon__Right"></fa-icon>
                </li>



            </ul>
        </li>
    </ul>
</div>

</div>
