<div class="nav__bar">
    <div class="site__logo">logo</div>
    <nav>        
        <ul>
            <li><a routerLink="/index" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="/about" routerLinkActive="active">A propos</a></li>
            <li><a routerLink="/trip">Trouver un trajet</a></li>
            <li><a routerLink="/index">Comment ça marche ?</a></li>
        </ul>
    </nav>
    <div class="add_trajet" routerLink="/index"><button class="submit__trip"><strong>+</strong></button><span>Proposer un trajet</span></div>
    
    <div class="avatar__login">
    <ul>
        <li><img src="../../assets/profil.svg"/>
            <ul>
                <li>Connexion</li>
                <li>Inscription</li>
                <li>Mon compte</li>
                <li>Mes trajets</li>
                <li>Mes reservations</li>
            </ul>
        </li>
    </ul>
</div>

</div>
