<div class="nav__bar">
    <div class="site__logo">logo</div>
    <nav>        
        <ul>
            <li><a routerLink="/index" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="/about" routerLinkActive="active">A propos</a></li>
            <li><a routerLink="/index">Trouver un trajet</a></li>
            <li><a routerLink="/index">Comment ça marche ?</a></li>
            <li>Se connecter</li>
        </ul>
    </nav>
    <div class="add_trajet"><button class="submit__trip">PROPOSER UN TRAJET <strong>+</strong></button></div>
</div>
<router-outlet></router-outlet>
