<app-navbar></app-navbar>
<section class="picture__section">
    <div class="container">
        <div class="image">
            <img src="../../assets/profil.svg">
        </div>
    </div>
</section>
<section class="user__data">
    <div class="user__details">
        <div class="name__class">
            <h1>Phillipe</h1><br>
            <span> 30 ans</span>
        </div>
        <div class="list__value">
            <div class="user__features"> 
                <div><span>Expérience: <strong>niveau habitué</strong></span></div>
                <div>
                    <fa-icon [icon]=faPaw  primaryOpacity="0.2" class="icon__color"></fa-icon>
                    J'adore les animaux. Ouaf !</div>
                <div>
                    <fa-icon [icon]=famusique  primaryOpacity="0.2" class="icon__color"></fa-icon>
                    Musique tout le long !
                </div>
                <div>
                    <fa-icon [icon]=facomment  primaryOpacity="0.2" class="icon__color"></fa-icon>
                    Je suis un vrai moulin à paroles !
                </div>
                <div>
                    <fa-icon [icon]=faSmoke  primaryOpacity="0.2" class="icon__color"></fa-icon>
                    Voyager avec des fumeurs ne me dérange pas
                </div>
                
                    <div class="verify__class">
                        <div>
                            <fa-icon [icon]=facheck  primaryOpacity="0.2" class="icon__color"></fa-icon>
                            Numéro de téléphone vérifié
                        </div>
                    <div>
                        <fa-icon [icon]=facheck  primaryOpacity="0.2" class="icon__color"></fa-icon>
                        E-mail vérifié
                    </div>
                </div>
                <div class="verify__bottom">
                    <p>Membre depuis octobre 2017</p>
                    <p class="suspect__trip">Signaler ce menbre</p>
                </div>

            </div>
        </div>
    </div>

</section>



<app-footer></app-footer>