
<section class="single__trip__details">
    <div>
        <h1>Vend. 14 Mai 2021</h1>
    </div>
    <div class="trajet__ul">
        <ul class="times">
            <li>12h30</li>
            <li>12h30</li>
        </ul>
        <ul>
            <li class="departure">{{singletrip.departure}}</li>
            <li class="separator"></li>
            <li class="departure">{{ singletrip.destination}}</li>
        </ul>
    </div>
    <div class="bloc__price">
        <span class="intitule__price">Prix Total pour 1 passager</span>
        <span class="total__price">{{singletrip.price}}  €</span>
    </div>

    <!-- USER header start -->
    <section class="user__description" [routerLink] ="['/userdetails',1]" >
        <div class="header" data-balloon-length="small" aria-label="Voir les details du profil de cet utilisataur" data-balloon-pos="up-left">
            <div class="username__class">
                <span *ngIf="singletrip.owner.name !== undefined">{{ singletrip.owner.name}}</span><br>
                <span>4.6/ 5-78 avis</span>
            </div>
            <div class="avatar__class">
                <img [src]="singletrip.owner.image.url" class="imageUser" *ngIf="singletrip.owner.image.url!==undefined">
                <img src="../../assets//profil.svg" *ngIf="singletrip.owner.image.url===undefined">
                <fa-icon [icon]= faangle primaryOpacity="0.2" class="icon__color"></fa-icon>
            </div>
        </div>
    </section>
    <!-- End user header-->


    <!-- Trip description START-->
    <section class="text__description" *ngIf="singletrip.owner.name!== undefined">
        <div>
            <p style="text-align: justify;">
                {{ singletrip.owner.description}}
            </p>
        </div>
    </section>
    <!-- trip description END--> 


     <!--BEGIN contact section-->
     <section class="contact__section" [routerLink] ="['/userdetails',1]"  *ngIf="singletrip.owner.name !== undefined">
        <div data-balloon-length="small" aria-label="Contactez cet utilisateur" data-balloon-pos="up-left">
            <fa-icon [icon]= fasms primaryOpacity="0.2"></fa-icon>
            <span>Contacter {{ singletrip.owner.name }}</span>
        </div>
    </section>
    <!-- END contact section-->



    <!-- start user informations section -->
    <section class="travel__preferences">
        <div class = "state" *ngFor="let status of preferences">
            <span><fa-icon [icon]= status.icon  primaryOpacity="0.2"></fa-icon></span>
            <span>{{ status.name}}</span>
        </div>
    </section>
    <!-- End user informations section-->
    
    <!-- car type start-->
    <section class="car__type">
        <div class="container">
        <div>
            <span class="car__name"> {{ singletrip.owner.car.mark}}</span><br>
            <span>{{ singletrip.owner.car.color}}</span>
        </div>
        <div>
            <img src="../../assets/car-saloon.svg" class="car__image" *ngIf="singletrip.owner.car.picture===undefined">
            <img [src]="singletrip.owner.car.picture" class="imageUser" *ngIf="singletrip.owner.car.picture!==undefined">
        </div>
    </div>

    </section>
    <!-- end car type-->
    <div class="title" *ngIf="singletrip.passengers.length > 0">
        <h2>Passagers</h2>
    </div>
    <section class="passenger_for_this_trip" *ngFor="let pass of singletrip.passengers" [routerLink] ="['/userdetails',1]">
        <div class="list__passagers" >
            <span>
                {{ pass.name }}<br>
                {{singletrip.departure}}  <fa-icon [icon]=faarrow primaryOpacity="0.2"></fa-icon>
                {{singletrip.destination}}
            </span>
            <span>
                <img [src]="pass.image.url" class="imageUser" *ngIf="pass.image.url!==undefined">
                <img src="../../assets//profil.svg" *ngIf="pass.image.url===undefined">
                
                <fa-icon [icon]= faangle primaryOpacity="0.2" class="icon__color"></fa-icon>
            </span>
           
        </div>
    </section>

    <div class="subscribe__trip">
        <button>Continuer</button>
    </div> 
</section>


