<div class="slider__layout">
   <!-- start slider text and searchbar-->
    <div>
        <div class="hero__slider">
       <h1> ET si on Partait ensemble</h1>
       <p>Faites des économies lors de vos déplacements en voiture ,Nous vous offrons une excellente solution.</p>
        <div class="form__layout">
            <form>
                <input type="text" name="" [placeholder]="whenplaceholder" class="left__radius"/>
                <input type="text" name="" [placeholder]="fromplaceholder"/>
                <input type="text" name="" [placeholder]="toplaceholder" class="right__radius"/>
                <button>{{ buttonlabel}}</button>
            </form>
        </div>
    </div>
    </div>
</div>
