<section>
<div class="about__title">
   <h1>Vous êtes Propriétaire d'une Voiture ?</h1>
   <hr class="border__layout">
   <p>Faites des économies sur vos déplacements, publiez gratuitement vos annonces de covoiturage !</p>
</div>
<div class="stepper__layout">
   <div class="step__layout">
      <div class="icon__stepper">
         <fa-icon [icon]="facar" size="6x" primaryOpacity="0.2" class="icon__color"></fa-icon>
      </div>
      <h2>Recherchez Votre Trajet</h2>
      <p>
         Précisez votre Date et horaire de départ , votre destination, . Puis trouvez le trajet qui vous convient.Trouver Un Trajet
      </p>
   </div>
   <div class="transition__layout"></div>
   <div class="step__layout" >
      <div class="icon__stepper">
         <fa-icon [icon]="fapaste" size="6x" class="icon__color"></fa-icon>
      </div>
      <h2>Recherchez Votre Trajet</h2>
      <p>
         Précisez votre Date et horaire de départ , votre destination, . Puis trouvez le trajet qui vous convient.Trouver Un Trajet
      </p>
   </div>
   <div class="transition__layout"></div>
   <div class="step__layout">
      <div class="icon__stepper">
         <fa-icon [icon]="famoneybill" size="6x" class="icon__color"></fa-icon>
      </div>
      <h2>Recherchez Votre Trajet</h2>
      <p>
         Précisez votre Date et horaire de départ , votre destination, . Puis trouvez le trajet qui vous convient.Trouver Un Trajet
      </p>
   </div>
</div>
</section>