.stepper__layout{
    width: 100%;
    display: flex;
    height: 300px;
    margin-top:25px; 
    justify-content: center;
    
}

.step__layout{
    width: 25%;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #f8fbfe;
    border-top-left-radius: 30px;
    cursor: pointer;
    animation: bounce;
    animation-duration: 3s;

    &:hover{
        background-color: #36b34b;
        color:#fff;
        h2{
            color:#fff;
        }
    }
}

 .transition__layout{
    border-top: 1px dotted #fff;
    width: 5%;
    height: 2px;
    padding-top: 25px;
 }

 .step__layout h2{
     text-align: center;
     font-weight: 400;
     font-size: 18px;
     color: #566985;
    
 }

 .icon__stepper{
     background-image: url("../../assets/icon.png");
     width: 100%;
     height: 70px;
     background-position: top center;
     background-repeat: no-repeat;
     margin-top: 48px;
     text-align: center;
 }

 .step__layout p{
     text-align:center;
     height: 88px;
     line-height: 24px;
 }

 .icon__color{
     font-size: 11px;
    color:#323f58;
 }

 .about__title{
     text-align: center;
     margin:70px 0px 70px 0px;
 }

 .about__title h1 {
    color: #566985;
    font-size: 34px;
    font-weight: 700;
 }

 .border__layout{
    width: 70px;
    height: 4px;
    background: #24324f;
    border: 0px;
    margin-bottom: 26px;
 }