<div>
<app-navbar></app-navbar>
<div class="dashboard">
  <div>
    <h1>Tableau de bord</h1>
    <hr class="separator"/>
  </div>

  <div class="dashboard__header">
    <div class="header__image">
      <div class="image">
        <img src="../../assets/profil.svg">
      </div>
      <div class="button">
        <div class="button__titlename">Bonjour Polla</div>
        <div class="button__title menuspeciale"><fa-icon [icon]= 'faArrow'  primaryOpacity="0.2" class="icon__color"></fa-icon> Modifier mon profil</div>
        <div class="button__title menuspeciale"><fa-icon [icon]= 'faArrow'  primaryOpacity="0.2" class="icon__color"></fa-icon> Voir mon profil public</div>
      </div>
    </div>

  </div>

  <div class="dasboardaccount">
    <div class="dasboardaccount__menu">
      <div class="menu___preferences">
        <h1 class="dashboardtitle">préferences</h1>
        <div>
          <span><img src="../../assets/pref-music-no-@2x.png" class="preferencesimage"/></span>
          <span><img src="../../assets/pref-music-no-@2x.png" class="preferencesimage"/></span>
          <span><img src="../../assets/pref-music-no-@2x.png" class="preferencesimage"/></span>
          <span><img src="../../assets/pref-music-no-@2x.png" class="preferencesimage"/></span>
          <div class="menuspeciale"><fa-icon [icon]= 'faArrow'  primaryOpacity="0.2" class="icon__color"></fa-icon> Modifier mes préferences</div>
        </div>
         <hr class="separator"/>
      </div>
      <!-- vérifications -->

      <div>
        <h1 class="dashboardtitle">Vérifications</h1>
        <div class="menu">Télephone vérifié</div>
        <div class="menu">Faites vérifier votre email</div>
        <div class="menu">Faites vérifier votre CNI</div>
        <div class="menuspeciale"> <fa-icon [icon]= 'faArrow'  primaryOpacity="0.2" class="icon__color"></fa-icon> Compléter les vérifications</div>
         <hr class="separator"/>
      </div>

      <div>
         <h1 class="dashboardtitle">Activités</h1>
        <div class="menu">Trajets publiés 5</div>
        <div class="menu">Membre depuis Jullet 2021</div>
      </div>

    </div>
    <div class="dasboardaccount__section">
      <div>0 nouveaux Messages</div>
      <hr class="separator"/>
    </div>
  </div>
</div>


<app-footer></app-footer>
</div>
