.dashboard{
  width:75%;
  padding-left: 10%;
  padding-bottom: 100px;
  margin-top:10px;

  &__header{
    display: flex;
    flex-direction: column;
    background: #ededed;
    padding: 27px 0px 22px 0px;
    margin-bottom: 10px;
    .title{
      text-align: left;
      font-size: 23px;
      padding-bottom: 10px;
      border-bottom: 2px solid;


    }
  }
}

.header{
  display: flex;
  &__image{
    display: flex;
    .image{
      width: 10%;
     text-align: center;
      img{
        border-radius: 50%;
        width: 70%;
      }
    }

    .button{
      width: 60%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      &__titlename{
        text-transform: capitalize;
        font-size: 19px;
        margin-bottom: 5px;
      }
      &__title{
            font-size:14px;
      }
    }

  }
}


.dasboardaccount{

  display: flex;


  &__menu{
    border: 1px solid #ededed;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 30px 20px 40px;
  }

  &__section{
    width: 70%;
    padding-left: 8px;
    padding-top: 36px;
  }
}


.dashboardtitle {
  font-size: medium;
  color:#393a3c;
  margin-top:10px;
}

.separator{
  color: #ededed;
  border-top: 0px;
  margin: 16px 0px 10px 0px;
}

.preferencesimage{
  width: 20%;
}

.menu{
  padding:2px 0px 2px 0px;
}

.menuspeciale{
  @extend .menu;
  color:#36b34b;
  cursor: pointer;
}

.messages{
  text-align: right;
  cursor: pointer;
  color:#33b54a;
}

.messageTitle{
  font-size: 23px;
  font-weight: normal;
}

.offres{
  border: 1px solid #ededed;
  margin-top:50px;
  height: 160px;
  border-radius: 2px;
  &__content{
    height: 120px;
    display: flex;
    .offresimagescontent{
      width: 70%;
      button{
        padding: 10px;
        width: 145px;
        color:#ffffff;
        font-weight: bold;
        border: 0px;
        background: #24324f;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
          background: #33b54a;
        }
      }
    }
    .offresimages{
      width: 30%;
    }
  }
  &__footer{
    border-top: 1px solid #ededed;
    height: 40px;
    padding-left: 2px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
    &:hover{
      background: #dddddd;
    }
  }
}


