@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~balloon-css/src/balloon";
body{
  overflow-x: hidden; /* Hide scrollbars */
  color: #708c91;
  font-size: 16px;
  line-height: 20px;
}



// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BookingWebsite-primary: mat-palette($mat-indigo);
$BookingWebsite-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BookingWebsite-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BookingWebsite-theme: mat-light-theme((
  color: (
    primary: $BookingWebsite-primary,
    accent: $BookingWebsite-accent,
    warn: $BookingWebsite-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($BookingWebsite-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Noto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" }
.st1{display:inline;fill:#3ABC98;}
.st2{opacity:0.32;fill:#727171;}
.st3{fill:#898989;}
.st4{fill:#FFFFFF;}
.st5{fill:#C9CACA;}
.st6{fill:#ff9e67;}
.st7{fill:#F9F8DE;}
.st8{fill:#323f58;}
.st9{fill:#323f58;stroke:#323f58;stroke-width:2;stroke-miterlimit:10;}
.st10{fill:none;stroke:#DEDCC9;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#BDE6E3;}
.st12{fill:#323f58;}
.st13{fill:none;stroke:#595757;stroke-width:3;stroke-miterlimit:10;}
.st14{fill:none;stroke:#323f58;stroke-miterlimit:10;}
.st15{fill:#DEDCC9;stroke:#DEDCC9;stroke-width:2;stroke-miterlimit:10;}
.st16{fill:#000000;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
#wrapper {
    position: relative;
    width: 720px;
    height: 300px;
    top: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index:1;
}
#car-body {
    position: absolute;
    width: 100%;
    bottom: 30px;
    animation: carbody 1s linear infinite;
    -webkit-animation: carbody 1s linear infinite;
}

#wheel {
    .wheel {
        position: absolute;
        width: 100%;
        bottom: 30px;
    }
    .wheel-back {
        z-index: -1;
    }
}
#smoke {
    width: 10px;
    position: absolute;
    right: 30px;
    top: 150px;
    animation: smoke 1.2s linear infinite;
    -webkit-animation: smoke 1s linear infinite;
}

#shadow {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: -2;
}
/***** Animation *****/
@keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}
@-webkit-keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}

@keyframes smoke {
    from {
        right: 30px;
    }
    to {
        right: -80px;
        transform: scale(5);
        opacity: .2;
    }
}
@-webkit-keyframes smoke {
    from {
        right: 30px;
    }
    to {
        right: -80px;
        transform: scale(5);
        opacity: .2;
    }
}
